--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4
-- Dumped by pg_dump version 15.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: currency_exchange; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.currency_exchange (
    id bigint NOT NULL,
    conversion_multiple numeric(38,2),
    environment character varying(255),
    currency_from character varying(255),
    currency_to character varying(255)
);


ALTER TABLE public.currency_exchange OWNER TO postgres;

--
-- Name: currency_exchange_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.currency_exchange ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.currency_exchange_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: currency_exchange; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.currency_exchange (id, conversion_multiple, environment, currency_from, currency_to) FROM stdin;
1	65.00		USD	COP
2	75.00		EUR	COP
3	25.00		AUD	COP
\.


--
-- Name: currency_exchange_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.currency_exchange_id_seq', 3, true);


--
-- Name: currency_exchange currency_exchange_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.currency_exchange
    ADD CONSTRAINT currency_exchange_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

